@{
    ViewData["Title"] = "Home Page";
}
<h3 class="text-center">this a .net core MVC app from ms official site</h3>
<div class="text-center">
    <a href="https://learn.microsoft.com/en-us/">Visit official site</a>
</div>
